.form-group.my-0 .form-group {
    margin: 0 auto !important;
}

.btn-dropdown  {
    display: none;
}

@media screen and (max-width: 1390px) {
    .btn-hidden {
        display: none;
    }

    .btn-dropdown  {
        display: block;
    }
}

@media (max-width: 1200px) {
    td.domaine, th.domaine {
        display: none;
    }
}

@media (min-width: 992px) {

    .container-fluid {
        width: 90% !important;
    }

}

.btn-dropdown .dropdown-menu .show:hover {
    color: #fff;
    background-color: #17a2b8;
}

.btn-dropdown .dropdown-menu .edit:hover {
    color: #212529;
    background-color: #ffc107;
}

.btn-dropdown .dropdown-menu .delete:hover {
    color: #fff;
    background-color: #dc3545;
}

.btn-dropdown .dropdown-menu .dropdown-item:hover {
    opacity: 0.95;
}

.btn-dropdown .dropdown-menu {
    left: -12px !important;
}
