{% extends 'base.html.twig' %}

{% block body %}

    <h1>Les intervenants</h1>

    <a class="btn btn-primary" href="{{ path('new_intervenant') }}" role="button">Ajouter</a>

    {% include 'intervenant/_table.html.twig' %}

    <div class="pagination">
        {{ knp_pagination_render(intervenants) }}
    </div>

{% endblock %}
