{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        {% if editMode %}
            <h1>Modification</h1>
        {% else %}
            <h1>Ajout</h1>
        {% endif %}

    	{{ form_start(form) }}

            {{ form_widget(form) }}

            <button class="btn btn-primary" type="submit">

                {% if editMode %}
                    Modifier
                {% else %}
                    Enregistrer
                {% endif %}

            </button>

    	{{ form_end(form) }}

    </div>

{% endblock %}
