{% extends 'base.html.twig' %}

{% block css %}

    <link rel="stylesheet" href="{{ asset('css/style-error.css') }}" />

{% endblock %}

{% block body %}

    <div class="container">

        <div class="my-4">
            <h1>Page non trouvée</h1>

            <p>Désolé, la page demandée est introuvable. Cela peut-être dû à une faute d'orthographe.</p>

            <hr class="my-4">

        </div>

        <img class="no-found" src="{{ asset('images/no_found.png') }}" alt="">

        <p class="display-3 text-center">Erreur {{ status_code }}</p>

    </div>

{% endblock %}
